.container {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #ddd;
    position: relative;
}

.container-header {
    display: flex;
    margin-bottom: 10px;
    align-content: baseline;
}

.animation-name {
    margin: 0;
    font-weight: normal;
    font-style: italic;
}

.button {
    margin-left: 15px;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    background: none;
    border: 1px solid #ccc;
}

.block {
    position: relative;
    width: 100px;
    height: 100px;
    padding: 5px;
    box-sizing: border-box;
    background-color: #8d3f8d;
    border: 2px solid #421456;
    color: white;
    transition-property: all;
    transition-timing-function: ease;
}

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}

#customBlock {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.custom-container {
    position: relative;
    height: 340px;
    background-color: #000000;
}

.big-star {
    position: absolute;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(./img/big_star.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.middle-star {
    position: absolute;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url(./img/middle_star.png);
    background-repeat: no-repeat;
    background-size: 10px 10px;
}

.little-star {
    position: absolute;
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #0086ee;
    background-repeat: no-repeat;
    background-size: 10px 10px;
}